img[alt="Result1"] {
    width: 50px;
    }

img[alt="Result2"] {
    width: 200px;
    }
img[alt="Result3"] {
    width: 600px;
        align: center;
    }
img[alt="Result4"] {
    width: 800px;
        align: center;
    }
img[alt="Result5"] {
    width: 300px;
        align: center;
    }